body {
  width: 100%;
  margin: 50 auto;
  background-color: white;
  color: #1E1952;
  display: block;
  font-family: sans-serif;
  font-size: 9px;
  text-align: center;
}

#title {
  font-family: 'Chonburi', sans-serif;
  margin: 20px 0;
}
#title h1 {
  font-size: 3em;
  margin: 0;
}
#title h2 {
  font-size: 2em;
  margin: 0;
}

.credit {
  font-size: 11px;
}

.label {
  font-family: sans-serif;
  font-size: 11px;
}

.button {
  display: inline-block;
  padding: 0.5em;
  text-align: center;
  font-size: 11px;
  border: 1px solid #1E1952;
  background-color: white;
  color: #1E1952;
}
.button.highlighted, .button:hover {
  background-color: #1E1952;
  color: white;
  cursor: pointer;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}